* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: Helvetica;
	font-size: 22px;
	color: seashell;
	background-color: black;
	opacity: 0.9;
	text-align: center;
	color: white;
}



/* Header Section */
header { /* Header Container */
	position: fixed;
	display: flex;
	border-bottom: 1px solid seashell;
	width: 100%;
	height: 69px;
	align-items: center;
	justify-content: flex-start;
	text-align: left;
	background-color: black;
	z-index: 1;
}
	nav {
		display: flex;
		justify-content: space-between;
		flex-grow: 1;
		padding: 10px;
	}
	header .logo {
		flex-grow: 10;
		
	}
	header img {
		padding-left: 10px;
		height: 50px;
	}



/* Title Section */
div.mission { /* Mission Container */
	position: relative;
	top: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 700px;
	background-image: url("../img/img-mission-background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	margin-bottom: 138px;
}
	div.titlesub { /* Mission Text Container */
		width: 100%;
		background-color: black;
	}



/* Tea of the Month Section */
.totm {/* Tea of the Month Container */
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: auto auto;
	width: 1000px;
}
/* TOTM Title/Sub-Title are controled under 'div.titlesub' */
	.totmcard {/* Tea of the Month Box */
		width: 300px;
		margin: 15px;
	}
	.totmcard img {
		height: 200px;
	}



/* Locations Section */
div.locations { /* Locations Containter */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	box-sizing: border-box;
	height: 500px;
	width: 1200px;
	margin: 50px auto;
	background-image: url("../img/img-locations-background.jpg");
	background-size: 1200px 140%;
	margin-bottom: 20px;
}
	div.loctitle { /* Locations Title */
		bottom: 30px;
		min-width: 100%;
	}
	div.loccard { /* Locations Cards */
		display: flex;
		bottom: 30px;
		flex-direction: column;
		justify-content: center;
		box-sizing: border-box;
		width: 300px;
		margin: 10px 20px;
		padding: 15px;
		opacity: 1;
		background-color: black;
	}
	.loccard span, h3 { /* Location Card Font Formating */
		padding: 15px 0px;
	}



/* Footer Section */
h1 {
	padding-bottom: 20px;
}
h5 {
	padding: 20px;
}
#copywrite {
	text-align: left;
}